@import '../abstracts/variables';

/* About - Title Detail */
.underscore {
    color: $fontColorHighlight;
    font-weight: 700;
    font-size: 26px;
    margin: 0 10px;
    margin-top: 4px;
    display: contents;
}

/* About - Page Background Story */
.aboutStory {
    display: flex;
    margin-bottom: 20px;
}

.aboutImg {
    width: 100%;
    object-fit: cover;
}

/* About - Page Subtitles */
.aboutSubtitle {
    font-family: $fontTitles;
    font-weight: bold;
    font-size: 22px;
    color: $fontColorHighlight;
}

.aboutHighlight {
    font-family: $fontOthers;
    color: $fontColorSubtle;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
}

/* About - Page Par. */
.aboutText {
    font-family: $fontOthers;
    color: $fontColorText;
    text-indent: 8px;
    font-weight: normal;
    text-align: justify;
    font-size: 18px;
}
