@import '../abstracts/variables';

/* Recommendations - Card Styles */
.cardStyle {
    background-color: $box-bg;
}

.picksChoice:hover {
    cursor: pointer;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;

    &:active {
        font-weight: bolder;
    }
}

/* Recommendations - Text Styles */
.picksSelectFeatTitle {
    font-family: $fontTitles;
    color: $fontColorHighlight;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1em;
    margin-bottom: 0.65rem;
}

.picksSelectFeatSummary {
    font-family: $fontOthers;
    font-size: 1.2rem;
    line-height: 23px;
    color: $fontColorText;
    margin: 0;
}

.picksSelectFeatAuthor {
    font-family: $fontTitles;
    color: $fontColorText;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}

/* Picks - Media Queries */
@media screen and (min-width: 320px) and (max-width:480px) {
    .picksSelectFeatTitle {
        font-size: 1.25rem;
    }

    .picksSelectFeatSummary {
        font-size: 1rem;
    }

    .picksSelectFeatAuthor {
        font-size: 0.6rem;
    }
} 

@media screen and (min-width: 481px) and (max-width: 768px) {
    .picksSelectFeatTitle {
        font-size: 1.5rem;
    }

    .picksSelectFeatSummary {
        font-size: 1rem;
    }

    .picksSelectFeatAuthor {
        font-size: 0.6rem;
    }
}
