/* Responsiveness */
.responsive {
    max-width: 100%;
    height: auto;
}

/* Videos */
.video {
    display: block;
    margin: auto;
    align-self: center;
    max-width: 100%;
    margin-bottom: 15px;
}